<!DOCTYPE>
<html lang="en">
<head>
	<title>MAF</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body  ng-app="pocApp" ng-controller="customerCtrl">
<div class="" align="center">
  <h2>MAF AGENT CONSOLE</h2>
  <form action="/savecustomer" method="Post" >
      <div class="col-md-2">
        <input type="test" class="form-control" id="agentcode" ng-model="agentcode" placeholder="Enter Agent Code" name="agentcode" ng-change="agentcodecheck()" autocomplete="off"/>
      </div>
      <div class="col-md-2">
        <select class="form-control" id="inscompanyname" name="inscompanyname" ng-model="inscompanyname" ng-change="companySelect()" ng-disabled="allow">
          <option value="">Select Insurance Company</option>
          <option value="{{x.companyname}}" ng-repeat="x in insurancecompany">{{x.companyname}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <select class="form-control" id="product" name="product" ng-model="product" ng-change="productSelect()" ng-disabled="allow">
          <option value="">Select Product</option>
          <option value="{{p}}" ng-repeat="p in companyproducts">{{p}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <input type="test" class="form-control" id="insuranceid" placeholder="Enter Policy Number"  ng-model="insuranceid" name="insuranceid" ng-disabled="allow" autocomplete="off">
      </div>
      <div class="col-md-2">
        <select class="form-control" id="premiumfreq" name="premiumfreq" ng-model="premiumfreq" ng-change="freq()" ng-disabled="allow">
        	<option value="">Select</option>
        	<option value="weekly">Weekly</option>
        	<option value="monthly">Monthly</option>
        	<option value="yearly">Yearly</option>
        </select>
      </div>
      <div class="col-md-2 form-inline">
        <input type="test" class="form-control" id="premiumamount" ng-model="premiumamount" placeholder="Enter Premium Amount" name="premiumamount" ng-disabled="allow" autocomplete="off"> / {{frequency}}
      </div>
      <div class="row" align="center" style="padding-top: 20px">
       <button type="submit" class="btn btn-success" ng-disabled="agentvalidation" style="margin-top:20px;width:300px">Submit</button>
      </div>
    </form>
</div>
<!-- <div class="row" align="center" style="padding-top: 20px">
        <p ng-if="err1" style="color:red">{{agenterr}}</p>
        <p ng-if="err2" style="color:green">{{agenterr}}</p>
  </div> -->
      <div style="margin-top:20px;" align="center">
      <label>Instructions:</label>
      <p style="color:blue">{{errmessage}}</p></div>

<table class="table table-bordered" style="border-collapse: separate;
      border-spacing: 0;">
    <thead>
      <tr>
        <th>Insurance Company Name</th>
        <th>Product</th>
        <th>Policy ID</th>
        <th>Staring Date & Time</th>
        <th>Premium Frequency</th>
        <th>Premium Amount</th>
        <th>Premium Amount Per Year</th>
        <th>Your Payout</th>
        <th>Company Pool</th>
      </tr>
    </thead>
    <tbody ng-if="datas">
      <tr>
        <td>{{outinscompanyname}}</td>
        <td>{{outproduct}}</td>
        <td>{{outinsuranceid}}</td>
        <td>{{clock | date:'yyyy-MM-dd'}}</td>
        <td>{{outpremiumfreq}}</td>
        <td>{{outpremiumamount | currency}}</td>
        <td>{{outyearpremium | currency}}</td>
        <td>{{outagentcommission | currency}}</td>
        <td>{{outcompanypool | currency }}</td>
      </tr>
    </tbody>
  </table>

<script src="/javascripts/controllers/addCustomer.js"></script>
</body>
</html>