<!DOCTYPE>
<html lang="en">
<head>
	<title>MAF</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body ng-app="pocApp" ng-controller="agentpaymentCtrl">
<div class="container">
  <h2 align="center">MAF ADMIN DASHBOARD</h2>
    <br>
    <div class="col-md-6">
      <label for="premiumfreq">Choose Agent:</label>
      <select class="form-control" id="agentname" name="agentname" ng-model="agentname">
      	<option value="">Select</option>
      	<option value="{{x.agentcode}}" ng-repeat="x in agents">{{x.agentcode}}</option>
      </select>
      
    </div>  
    <div class="col-md-3" style="padding:30px">
      <label>Start Date:</label><input type="date" ng-model="from_date"><br/>
    </div>
    <div class="col-md-3" style="padding:30px">
      <label>End Date:</label><input type="date" ng-model="to_date"><br/>
    </div>
    
    <div align="center">
      <button type="button" class="btn btn-info" ng-click="getDateFilter()" ng-disabled="datedis">Search</button>
      <button type="button" class="btn btn-warning" ng-click="reset()">Reset</button>
    </div>

    <br><br>
    <div ng-if="dataerr" align="center" ng-show="dataerr" class="alert alert-danger">
      {{agentdatarr}}
    </div>
    <p  style="color:red"></p>
</div>
<div class="container">          
  <table class="table table-bordered" style="border-collapse: separate;
      border-spacing: 0;">
    <thead>
      <tr>
        <th>Insurance Company Name</th>
        <th>Product</th>
        <th>Policy ID</th>
        <th>Start Date</th>
        <th>Premium Frequency</th>
        <th>Premium Amount</th>
        <th>Premium Amount Per Year</th>
        <th>Agent Payout</th>
        <th>Company Pool</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in agentpayments">
        <td>{{p.inscompanyname}}</td>
        <td>{{p.product}}</td>
        <td>{{p.insuranceid}}</td>
        <td>{{p.created_at | date:'yyyy-MM-dd'}}</td>
        <td>{{p.premiumfreq}}</td>
        <td>{{p.premiumamount | currency}}</td>
        <td>{{p.yearpremium | currency}}</td>
        <td>{{p.agentcommission | currency}}</td>
        <td>{{p.companypool | currency }}</td>
      </tr>
      <tr ng-if="angentstatus">
        <td  colspan="7" style="text-align:right;"><strong>Total</strong></td>
        <td>{{totalpay | currency}}</td>
        <td>{{totalpool | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
<script src="/javascripts/controllers/agentpaymentCtrl.js"></script>
</body>
</html>