body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body.home
{
  background-image: url("/images/lifebg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}